<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atree.board.mapper.BoardMapper">

		<select id="selectBoardList" resultType="HashMap">
			select *
			from board
			where board_seq>0
		</select>

		
		<select id="selectBoardDetail" parameterType="com.atree.board.vo.BoardVO" resultType="HashMap">
		select *
		from board
		where board_seq=#{board_seq}
			
		</select>
		<insert id="insertBoard" parameterType="com.atree.board.vo.BoardVO">
			insert into board(title,content,writer) values(#{title},#{content},#{writer})
		</insert>
		
		<update id="updateBoard" parameterType="com.atree.board.vo.BoardVO" >
		update board 
			set title=#{title},content=#{content}
		where
			board_seq = #{board_seq}
	</update>
	
		<delete id="removeBoard" parameterType="com.atree.board.vo.BoardVO" >
		delete
		from 
			board
		where
			board_seq=#{board_seq}
				
		</delete>
</mapper>