<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-3level [%logger{5}]
				- %msg %n</pattern>
			<!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
		</encoder>
	</appender>

	<!-- FILE Appender -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH_NAME}/${FILE_NAME}.log</file>
		<!-- 일자별 로그파일 저장 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH_NAME}/${FILE_NAME}_%d{yyyyMMdd}.log
			</fileNamePattern>
			<!-- 일자별 로그파일 저장 기간 설정 -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern>
		</encoder>
	</appender>

	<logger name="log4jdbc.log4j2" level="error" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="j.sqltiming" level="off"></logger>

	<Logger name="jdbc.sqlonly" level="off" />

	<Logger name="jdbc.sqltiming" level="info" />

	<Logger name="jdbc.audit" level="off" />

	<Logger name="jdbc.resultset" level="off" />

	<Logger name="jdbc.resultsettable" level="off" />

	<Logger name="jdbc.connection" level="off" />

	<logger name="org.springframework.web" level="info" />

	<logger name="com.igloosec.be" level="debug"></logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

</configuration>